@model List<GebirgeViewModel>
@{
    ViewData["Title"] = "Gebirge";
}

<a class="btn btn-primary" asp-controller="Misc" asp-action="AddGebirge">Hinzufügen</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gebirge in Model)
        {
            <tr>
                <td>@gebirge.Name</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a asp-controller="Misc" asp-action="DeleteGebirge" asp-route-gebirge=@gebirge.Id class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                            Löschen
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>