<ul class="nav flex-column">
    <li class="nav-item me-auto">
        <a asp-controller="Misc" asp-action="Sponsor" class="nav-link">Sponsoren</a>
    </li>
    <li class="nav-item me-auto">
        <a asp-controller="Misc" asp-action="Vertragsart" class="nav-link">Vertragsarten</a>
    </li>
    <li class="nav-item me-auto">
        <a asp-controller="Misc" asp-action="Gebirge" class="nav-link">Gebirge</a>
    </li>
    <li class="nav-item me-auto">
        <a asp-controller="Misc" asp-action="Berg" class="nav-link">Berg</a>
    </li>
    <li class="nav-item me-auto">
        <a asp-controller="Misc" asp-action="Schwierigkeit" class="nav-link">Schwierigkeit</a>
    </li>
    <li class="nav-item me-auto">
        <a asp-controller="Misc" asp-action="Trick" class="nav-link">Trick</a>
    </li>
</ul>