<p>This will be the Misc Page!</p>

<a asp-controller="Misc" asp-action="Sponsor">Sponsoren</a>
<a asp-controller="Misc" asp-action="Vertragsart">Vertragsarten</a>
<a asp-controller="Misc" asp-action="Gebirge">Gebirge</a>
<a asp-controller="Misc" asp-action="Berg">Berg</a>
<a asp-controller="Misc" asp-action="Schwierigkeit">Schwierigkeit</a>
<a asp-controller="Misc" asp-action="Trick">Trick</a>