@model List<SchwierigkeitViewModel>
@{
    ViewData["Title"] = "Schwierigkeit";
}

<a class="btn btn-primary" asp-controller="Misc" asp-action="AddSchwierigkeit">Hinzufügen</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Schwierigkeit in Model)
        {
            <tr>
                <td>@Schwierigkeit.Name</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a asp-controller="Misc" asp-action="DeleteVertragsart" asp-route-schwierigkeit=@Schwierigkeit.Id class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                            Löschen
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>