@model BergViewModel
@{
    ViewData["Title"] = "Berg";
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="GebirgeId" class="form-label"></label>
        <select asp-for="GebirgeId" asp-items="Model.GebirgeListe" class="form-select"></select>
    </div>
    <div class="mb-3">
        <label asp-for="SchwierigkeitId" class="form-label"></label>
        <select asp-for="SchwierigkeitId" asp-items="Model.SchwierigkeitListe" class="form-select"></select>
    </div>
    <div class="mb-3">
        <input type="submit" value="Hinzufügen" class="btn btn-primary" asp-controller="Misc" asp-action="AddBerg" />
        <a href="javascript:history.go(-1)">Abbrechen</a>
    </div>
</form>
