@model List<VertragsartViewModel>
@{
    ViewData["Title"] = "Vertragsart";
}

<a class="btn btn-primary" asp-controller="Misc" asp-action="AddVertragsart">Hinzufügen</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vertragsArt in Model)
        {
            <tr>
                <td>@vertragsArt.Name</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a asp-controller="Misc" asp-action="UpdateVertragsart" asp-route-sponsor=@vertragsArt.Name class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i>
                            Bearbeiten
                        </a>
                        <a asp-controller="Snowboarder" asp-action="DeleteVertragsart" asp-route-sponsor=@vertragsArt.Name class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                            Löschen
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>