@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Avalanche</h1>
    <p>Avalanche, die Anwendung zum Berg! Ob Snowboarder oder Wettberwerbe, mit einem Klick weißt du mehr.</p>
    <p>Verwalte deine Wettbewerbe, füge Snowboarder hinzu und habe dabei immer die Übersicht.</p>

    <img src="~/playmobil-snowboarder.jpg" />
</div>
