@model List<SnowboarderViewModel>
@{
    ViewData["Title"] = "Snowboarder";
}
    <a class="btn btn-primary" asp-controller="Snowboarder" asp-action="Add">Hinzufügen</a>
    <table class="table">
        <thead>
            <tr>
                <th>Mitgliedsnummer</th>
                <th>Nachname</th>
                <th>Künstlername</th>
                <th>Vorname</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var snowboarder in Model)
            {
            <tr>
                <td>@snowboarder.Mitgliednummer</td>
                <td>@snowboarder.Nachname</td>
                <td>@snowboarder.Kuenstlername</td>
                <td>@snowboarder.Vorname</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a asp-controller="Snowboarder" asp-action="Detail" asp-route-snowboarderID=@snowboarder.Mitgliednummer class="btn btn-primary">
                            <i class="bi bi-list-ul"></i>
                            Details
                        </a>
                        <a asp-controller="Snowboarder" asp-action="" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i>
                            Bearbeiten
                        </a>
                        <a asp-controller="Snowboarder" asp-action="" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                            Löschen
                        </a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>