@{
    ViewData["Title"] = "Snowboarder";
}
    <a class="btn btn-primary" asp-controller="Snowboarder" asp-action="Add">Hinzufügen</a>
    <table class="table">
        <thead>
            <tr>
                <th>Test 1</th>
                <th>Test 2</th>
                <th>Test 3</th>
                <th>Test 4</th>
                <th>Test 5</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>testA</td>
                <td>testB</td>
                <td>testC</td>
                <td>testD</td>
                <td>testE</td>
                <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Left</button>
                    <button type="button" class="btn btn-primary">Middle</button>
                    <button type="button" class="btn btn-primary">Right</button>
                </div>
                </td>
            </tr>
        </tbody>
    </table>