@model List<WettkampfViewModel>
@{
    ViewData["Title"] = "Wettkaempfe";
}
    <a class="btn btn-primary" asp-controller="Wettkaempfe" asp-action="Add">Hinzufügen</a>
    <table class="table">
        <thead>
            <tr>
                <th>Wettkampf</th>
                <th>Jahr</th>
                <th>Berg</th>
                <th>Sponsor</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var wettkampf in Model)
            {
            <tr>
                <td>@wettkampf.Name</td>
                <td>@wettkampf.Jahr</td>
                <td>@wettkampf.Berg</td>
                <td>@wettkampf.Sponsor</td>
            </tr>
            }
        </tbody>
    </table>