@model WettkampfViewModel
@{
    ViewData["Title"] = "Wettkampf";
}

<form method="post">
    <input asp-for="Id" type="hidden" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Jahr" class="form-label"></label>
        <input asp-for="Jahr" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Sponsor" class="form-label"></label>
        <select asp-for="Sponsor" asp-items="Model.SponsorList" class="form-select"></select>
    </div>
    <div class="mb-3">
        <label asp-for="Berg" class="form-label"></label>
        <select asp-for="Berg" asp-items="Model.BergList" class="form-select"></select>
    </div>
    <div class="mb-3">
        <label asp-for="Preisgeld" class="form-label"></label>
        <input asp-for="Preisgeld" class="form-control">
    </div>
    <div class="mb-3">
        <input type="submit" value="Bearbeiten" class="btn btn-primary" asp-controller="Wettkampf" asp-action="Update" />
        <a href="javascript:history.go(-1)">Abbrechen</a>
    </div>
</form>